body {
    margin: 0;
    padding: 0;

    /* Шрифт */
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;


    /* Фон */
    background-color: #f2f2f2;
    }

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
}

.main-navigation {
    position: relative;

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.advantages-inner-list {
    list-style: none;
}

.advantages-item-special .advantages-title {
    padding-top: 40px;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-list li {
    margin-top: 0;
}

ul.site-navigation {
    display: flex;
    width: 1056px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.site-navigation li {
    width: 240px;
}

.site-navigation li:nth-child(-n+2) {
    text-align: left;
}

.site-navigation li:nth-child(n+3) {
    text-align: right;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.site-navigation a {
    color: #000000;
}

.site-navigation-current a{
    color: #766357;
    cursor: pointer;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
    outline: none;
}

.site-navigation a:active {
    color: #000000;
    opacity: .3;
}

.hero {
    margin-bottom: 60px;

    background: url(../img/hero-mountains.jpg);
    background-repeat: no-repeat;
}

.pic-welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 80px;
}

.main-promo-wrapper {
    text-align: center;

    background-color: #ffffff;
}

.promo-bold {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.promo {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.advantages-item-special h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.advantages-text,
.advantages-number {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.advantages-item-special {
    background-color: #81b3d2;
}

.advantages-item-white {
    width: 400px;
    min-height: 330px;

    background-color: #ffffff;
}

.advantages-text-black,
.advantages-item-grey .advantages-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.advantages-item-grey {
    width: 400px;

    background-color: #eeeeee;
}

.advantages-inner-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: -15px;
    padding: 0;
}

.hotels {
    background-color: #ffffff;
}

.hotels b {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.hotels-info {
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: #333333;
}

.hotels a{
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
}

a.button-hotels-search {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;
}

a.button-hotels-search:hover,
a.button-hotels-search:focus{
    background-color: #604e43;
    outline:none;
}

a.button-hotels-search:active {
    opacity: 0.3;
}

.hotels-search {
    background-color: #ffffff;
}

.hotels-search-item label {
    font-size: 21px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.hotel-search-button {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #81b3d2;
}

button.hotel-search-button:hover,
button.hotel-search-button:focus{
    background-color: #669ec0;
    outline: none;
}

button.hotel-search-button:active {
    opacity: 0.3;
}

.modal-hotels-search {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer {
    padding-top: 36px;
    min-height: 120px;

    opacity: 0.9;
    background-color: #ffffff;
}

.hashtag {
    width: 240px;
    margin: 0;
    margin-right: 88px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.copyright {
    width: 240px;
    margin: 0;
    margin-left: auto;
}

ul.social-list {
    width: 400px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.copyright a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.footer-content-wrapper {
    display: flex;
}

.filters-hotels-wrapper{
    display: flex;
}

.filters {
    min-height: 218px;
    margin-bottom: 30px;

    background-color: #4e7da5;
    background-image: url(../img/filters-background.jpg);
    background-repeat: no-repeat;
    background-position: 45% 45%;
}

.filters fieldset {
    margin: 0;
    padding: 0;
}

.filter-infrastructure-wrapper {
    width: 240px;
    margin-left: 72px;
    margin-top: 30px;
}

.filter-house-type-wrapper {
    width: 275px;
    margin-left: 15px;
    margin-top: 30px;
}

.hotel-price-wrapper {
    width: 330px;
    margin-left: 200px;
    margin-top: 30px;
    padding-left: 10px;
}

.filters legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.filters fieldset {
    border: none;
}

.filters ul {
    list-style: none;
}

.filters-list {
    margin: 0;
    padding: 0;
}

.filters-option {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

button.range-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;

    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
}

button.range-button:hover,
button.range-button:focus {
    color: #000000;

    background-color: #ffffff;
}

.sorting {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;

    background-color: #fefefe;
}

.sort-order-wrapper {
    flex-grow: 1;
    text-align: right;
}

.sorting ul {
    list-style: none;
}

a.hotel-link {
    outline: none;
    color: #000000;
}

a.hotel-link:hover,
a.hotel-link:focus {
    color: #81b3d2;
}

a.hotel-link:active {
    color: #000000;
    opacity: 0.3;
}

.sorting-wrapper {
    display: flex;
    align-items: baseline;
    width: 528px;
    margin-left: 72px;
}

.sorting-list {
    display: flex;
    margin: 0;
    margin-left: 38px;
    padding: 0;
}

.sorting-list li:nth-child(n+2) {
    margin-left: 30px;
}

.sorting .sorting-text {
    margin: 0;
    margin-left: 45px;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
}

a.sorting-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;

    opacity: 0.3;
    cursor: pointer;

    border-bottom: 1px dashed #81b3d2
}

a.sorting-link:hover,
a.sroting-link:focus {
    color: #81b3d2;
}

a.sorting-link:active {
    color: #000000;
    border: none;
}


ul.hotels-list {
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #fefefe;
}

.sorting-wrapper .number-of-hotels {
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotels-item-main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    min-height: 150px;
    margin: 0;
    margin-left: 72px;
}

.rating-wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    min-height: 90px;

}

.rating {
    margin-bottom: 45px;
    margin-top: 30px;
    text-align: right;
}

.hotels-item-wrapper {
    display: flex;
    width: 528px;
    min-height: 90px;
    margin: 30px 0;
}

.hotels-item-text-btns-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.hotels-item-btns-wrapper .button {
    width: 110px;
    min-height: 27px;
}

.hotels-item-wrapper h3,
.hotels-item-wrapper p {
    margin:0;
}

.hotels-item-text-btns-wrapper h3 {
    margin-bottom: 15px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotels-item-text-wrapper {
    display: flex;
    margin-bottom: 18px;
}

.hotels-item-text-wrapper .hotel-price {
    margin-left: 35px;
}

.hotels-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #333333;
}

.hotels-list li {
    width: 1200px;
    margin-top: -1px;
    min-height: 150px;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.button-info,
.button-booking {
    outline: none;
}

a.button-info {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;

    background-color: #81b3d2;
}

a.button-info:hover,
a.button-info:focus {
    background-color: #669ec0;
}

a.button-info:active {
    opacity: 0.3;
}

a.button-booking {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    background-color: #766357;
}

a.button-booking:hover,
a.button-booking:focus {
    background-color: #604e43;
}

a.button-booking:active {
    opacity: 0.3;
}

p.rating-number {
    width: 110px;
    min-height: 27px;
    margin: 0;
    margin-left: 130px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color:666666;

    background-color: #f2f2f2;
}
