body {
    margin: 0;
    padding: 0;

    /* Шрифт */
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;


    /* Фон */
    background-color: #f2f2f2;
    }

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.main-wrapper {
    background-color: #ffffff;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-navigation {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;

    position: relative;
}

.site-navigation,
.advantages-list,
.advantages-inner-list {
    list-style: none;
}

.advantages-item-special .advantages-title {
    padding-top: 40px;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-list li {
    margin-top: 0;
}

ul.site-navigation {
    display: flex;
    width: 1056px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.site-navigation li {
    width: 240px;
}

.site-navigation li:nth-child(-n+2) {
    text-align: left;
}

.site-navigation li:nth-child(n+3) {
    text-align: right;
}

.main-header-logo {
    position: absolute;
    top: 0px;
    left: 530px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation-current a{
    color: #766357;
    cursor: pointer;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
    outline: none;
}

.site-navigation a:active {
    color: #000000;
    opacity: .3;
}

.hero {
    background: url(../img/hero-mountains.jpg);
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.pic-welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 80px;
}

.main-promo-wrapper {
    background-color: #ffffff;
    text-align: center;
}

.promo-bold {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.promo {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.advantages-item-special h3 {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.advantages-text,
.advantages-number {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.advantages-item-special {
    background-color: #81b3d2;
}

.advantages-item-white {
    background-color: #ffffff;
    width: 400px;
    min-height: 330px;
}

.advantages-item-white .advantages-title {

}

.advantages-text-black,
 .advantages-item-grey .advantages-text{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.advantages-item-grey {
    background-color: #eeeeee;
    width: 400px;
}

.advantages-inner-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: -15px;
    padding: 0;
}



.hotels {
    background-color: #ffffff;
}

.hotels b {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.hotels-info {
    color: #333333;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
}

.hotels a{
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

a.button-hotels-search {
    color: #ffffff;
    background-color: #766357;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

a.button-hotels-search:hover,
a.button-hotels-search:focus{
    background-color: #604e43;
    outline:none;
}

a.button-hotels-search:active {
    opacity: 0.3;
}

.hotels-search {
    background-color: #ffffff;
}

.hotels-search-item label {
    font-size: 21px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

}

.hotel-search-button {
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

button.hotel-search-button:hover,
button.hotel-search-button:focus{
    background-color: #669ec0;
    outline: none;
}

button.hotel-search-button:active {
    opacity: 0.3;
}

.modal-hotels-search {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer {
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 36px;
    min-height: 120px;
}

.hashtag {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    width: 240px;
    margin: 0;
    margin-right: 88px;
}

.copyright {
    width: 240px;
    margin: 0;
    margin-left: auto;
}

ul.social-list {
    list-style: none;
    width: 400px;
    margin: 0;
    padding: 0;
}

.social-button {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.copyright a {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.footer-content-wrapper {
    display: flex;
}

.filters-hotels-wrapper{
    display: flex;
    /* justify-content: space-between; */
}

.filters {
    background-color: #4e7da5;
    background-image: url(../img/filters-background.jpg);
    background-repeat: no-repeat;
    background-position: 45% 45%;

    min-height: 218px;
    margin-bottom: 30px;
}

.filters fieldset {
    margin: 0;
    padding: 0;
}

.filter-infrastructure-wrapper {
    width: 240px;
    margin-left: 72px;
    margin-top: 30px;
}

.filter-house-type-wrapper {
    width: 275px;
    margin-left: 15px;
    margin-top: 30px;
}

.hotel-price-wrapper {
    width: 330px;
    margin-left: 200px;
    margin-top: 30px;
    padding-left: 10px;
}

.filters legend {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.filters fieldset {
    border: none;
}

.filters ul {
    list-style: none;
}

.filters-list {
    margin: 0;
    padding: 0;
}

.filters-option {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

button.range-button {
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    background-color: transparent;

    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

button.range-button:hover,
button.range-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.sorting {
    background-color: #fefefe;
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
}

.sort-order-wrapper {
    flex-grow: 1;
    text-align: right;
}

.sorting ul {
    list-style: none;
}

.number-of-hotels-wrapper label {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

a.hotel-link {
    outline: none;
    color: #000000;


}

a.hotel-link:hover,
a.hotel-link:focus {
    color: #81b3d2;
}

a.hotel-link:active {
    color: #000000;
    opacity: 0.3;
}

.sorting-wrapper {
    width: 288px;
}

.sorting-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.sorting .sorting-text {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

a.sorting-link {
    color: #000000;
    opacity: 0.3;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;

    border-bottom: 1px dashed #81b3d2


}
a.sorting-link:hover,
a.sroting-link:focus {
    color: #81b3d2;
}

a.sorting-link:active
{
    color: #000000;
    border: none;
}


ul.hotels-list {
    list-style: none;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
}

.number-of-hotels-wrapper {
    margin-left: 72px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h3.hotel-name {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.hotels-item p {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.hotels-list li {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    marign-top: -1px;
    min-height: 150px;
    width: 1200px;
}

.hotels-item img {
    padding-top: 30px;
}
.button-info,
.button-booking {
    outline: none;
}

a.button-info {
    background-color: #81b3d2;

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

a.button-info:hover,
a.button-info:focus {
    background-color: #669ec0;
}

a.button-info:active {
    opacity: 0.3;
}

a.button-booking {
    background-color: #766357;

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

a.button-booking:hover,
a.button-booking:focus {
    background-color: #604e43;
}

a.button-booking:active {
    opacity: 0.3;
}

p.rating-number {
    color:666666;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    min-height: 27px;
}
