body {
    margin: 0;
    padding: 0;

    /* Шрифт */
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    /* Фон */
    background-color: #f2f2f2;
    }

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
}

.main-navigation {
    position: relative;
    min-height: 56px;

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation,
.advantages-list,
.advantages-inner-list {
    list-style: none;
}



.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-list li {
    margin-top: 0;
}

ul.site-navigation {
    display: flex;

    width: 1056px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.site-navigation li {
    width: 240px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.site-navigation li:nth-child(-n+2) {
    text-align: left;
}

.site-navigation li:nth-child(n+3) {
    text-align: right;
}

.site-navigation li:nth-child(3) {
    margin-left: 96px;
    padding-right: 8px;
}

.site-navigation li:nth-child(2) {
    padding-left: 3px;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.site-navigation a {
    color: #000000;
}

.site-navigation-current a{
    color: #766357;
    cursor: pointer;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
    outline: none;
}

.site-navigation a:active {
    color: #000000;
    opacity: .3;
}

.hero {
    margin-bottom: -1px;

    background: url(../img/polygon.png),
    url(../img/hero-mountains.jpg);
    background-repeat: no-repeat;
    background-position:
        0 100%,
        0 -56px;
}

.pic-welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 76px;
    padding-bottom: 80px;
}

.main-promo-wrapper {
    text-align: center;

    background-color: #ffffff;
}

.promo-bold {
    display: inline-block;
    padding-top: 60px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.promo {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 51px;

    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.advantages-item-special .advantages-title {
    margin: 0;
    padding-top: 47px;
    padding-left:;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.advantages-item-special .text-wrapper {
    width: 400px;
    min-height: 256px;

    text-align: center;
}

.advantages-item-special .advantages-number{
    margin: 0;
    margin-top: 24px;
}

.advantages-item-special .advantages-text {
    margin: 0px;
    margin-top: 21px;
}

/* .advantages-item-picture:first-child {
    background-image: url(../img/city.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
} */

.city-background{
    background-image: url(../img/city.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.mountains-background {
    background-image: url(../img/mountains.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.mountains-background .text-wrapper {
    margin-left: 800px;
}

.advantages-item-white .advantages-title {
    margin: 0px;
    margin-bottom: 24px;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.mountains-background .advantages-title {
    padding-top: 46px;
}

.advantages-item-icon::before {
    content: "";
    display: block;

    background-repeat: no-repeat;
}

.icon-home::before {
    width: 76px;
    height: 72px;
    margin: 0px;
    margin-top: 60px;
    margin-left: 162px;
    margin-bottom: 29px;

    background-image: url(../img/icon-home.svg);
}

.icon-food::before {
    width: 76px;
    height: 72px;
    margin: 0px;
    margin-top: 61px;
    margin-left: 163px;
    margin-bottom: 28px;

    background-image: url(../img/icon-food.svg);
}

.icon-souvenir::before {
    width: 64px;
    height: 76px;
    margin: 0px;
    margin-top: 56px;
    margin-left: 168px;
    margin-bottom: 29px;

    background-image: url(../img/icon-souvenir.svg);

}

.advantages-text,
.advantages-number {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

.advantages-item-special {
    width: 1200px;
    min-height: 256px;

    background-color: #81b3d2;
}

.advantages-item-white {
    width: 400px;
    min-height: 330px;

    text-align: center;

    background-color: #ffffff;
}

.advantages-text-black {
    margin: 0;
}

.advantages-text-black,
.advantages-item-grey .advantages-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.advantages-item-grey {
    width: 400px;
    text-align: center;

    background-color: #eeeeee;
}

.advantages-item-grey .advantages-title {
    margin: 0;
    margin-top: 47px;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.advantages-item-grey .advantages-number {
    margin: 0;
    padding-top: 24px;

    color: #333333;
}

.advantages-item-grey .advantages-text {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 59px;
}

.advantages-inner-list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    min-height: 256px;

    margin: 0;
    padding: 0;
}

.hotels {
    position: relative;
    width: 1200px;
    min-height: 764px;

    /* text-align: center; */

    background-color: #ffffff;
}

.hotels b {
    display: block;
    padding-top: 50px;
    padding-bottom: 24px;
    text-align: center;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;


}

.hotels-info {
    margin: 0;
    margin-bottom: 47px;
    text-align: center;

    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: #333333;
}

.hotels a{
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
}

.button-hotels-search {
    display: block;
    width: 568px;
    min-height: 26px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;


    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #766357;
}

.modal-hotels-search {
    position: absolute;
    width: 568px;
    min-height: 395px;

    top: 291px;
    left: 316px;

    margin-left: auto;
    margin-right: auto;
}

.hotels-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.hotels-search .adults-number-input,
.hotels-search .children-number-input,
.hotel-search-button-plus,
.hotel-search-button-minus {
    width: 38px;
    min-height: 38px;

    background-color: #f2f2f2;
}

.adults-number-input,
.children-number-input {
    padding: 0;

    vertical-align: middle;
}

.hotel-search-button-minus {
    margin-right: -4px;
}

.hotel-search-button-plus {
    margin-left: -4px;
}

.hotel-search-button-plus,
.hotel-search-button-minus {
    padding: 0;
}

.hotel-search-button-plus::after,
.hotel-search-button-plus::before,
.hotel-search-button-minus::after{
    content: "";

    position: absolute;

    width: 11px;
    height: 3px;

    background-color: #a9a9a9;
}

.hotel-search-button-plus::after {
    transform: rotate(90deg);
}

 .adults-number + .hotel-search-button-minus::after {
     left: 180px;
     top: 208px;
 }

.adults-number-input  + .hotel-search-button-plus::before,
 .adults-number-input  + .hotel-search-button-plus::after {
    left: 256px;
    top: 208px;
}

.children-number + .hotel-search-button-minus::after {
    right: 144px;
    top: 208px;
}

.children-number-input + .hotel-search-button-plus::after
.children-number-input + .hotel-search-button-plus::before{
    right: 0px;
    top: 208px;
}

.hotels-search p {
    display: block;
}

/* .hotel-search-button {
    display: block;
    width: 100%;
} */

.hotels-search-item {
    width: 460px;
    min-height: 38px;

    margin: 0;
    margin-left: 55px;
    /* outline: 1px solid black; */
}

.arrival-date {
    margin-top: 55px;
    margin-bottom: 29px;
}

.arrival-date label {
    margin-right: 20px;
}

.departure-date label {
    margin-right: 16px;
}

.departure-date {
    margin-bottom: 30px;
}

a.button-hotels-search:hover,
a.button-hotels-search:focus{
    background-color: #604e43;
    outline:none;
}

a.button-hotels-search:active {
    opacity: 0.3;
}

.hotels-search {
    min-height: 395px;

    background-color: #ffffff;
}

.hotels-search input {
    min-height: 38px;

    background-color: #f2f2f2;

    border: none;
}

.hotels-search .form-date-input {
    box-sizing: border-box;
    width: 346px;
    min-height: 38px;

     padding: 11px 10px; /* верх/низ лево/право */
     padding-right: 40px;
}

.hotels-search-item label {
    font-size: 21px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.persons-number .adults-number {
    margin-right: 37px;
    background-color: red;
}

.persons-number .children-number {
    margin-left: 49px;
    margin-right: 23px;
}

.persons-number {
    margin-bottom: 20px;

}

.hotel-search-button {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    background-color: #81b3d2;
}

button.hotel-search-button:hover,
button.hotel-search-button:focus{
    background-color: #669ec0;
    outline: none;
}

button.hotel-search-button:active {
    opacity: 0.3;
}

.map {
    width: 1200px;
    min-height: 593px;
}

.main-footer {

    min-height: 120px;

    opacity: 0.9;
    background-color: #ffffff;
}

.hashtag {
    width: 240px;
    margin: 0;
    margin-right: 88px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.copyright {
    width: 240px;
    margin: 0;
    margin-left: auto;
}

ul.social-list {
    width: 400px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.copyright a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.footer-content-wrapper {
    display: flex;
}

.filters-hotels-wrapper{
    display: flex;
}

.filters {
    min-height: 218px;
    margin-bottom: 30px;

    background-color: #4e7da5;
    background-image: url(../img/filters-background.jpg);
    background-repeat: no-repeat;
    background-position: 45% 45%;
}

.filters fieldset {
    margin: 0;
    padding: 0;
}

.filter-infrastructure-wrapper {
    width: 240px;
    margin-left: 72px;
    margin-top: 30px;
}

.filter-house-type-wrapper {
    width: 275px;
    margin-left: 15px;
    margin-top: 30px;
}

.hotel-price-wrapper {
    width: 330px;
    margin-left: 200px;
    margin-top: 30px;
    padding-left: 10px;
}

.filters legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.filters fieldset {
    border: none;
}

.filters ul {
    list-style: none;
}

.filters-list {
    margin: 0;
    padding: 0;
}

.filters-option {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
}

button.range-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;

    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
}

button.range-button:hover,
button.range-button:focus {
    color: #000000;

    background-color: #ffffff;
}

.sorting {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;

    background-color: #fefefe;
}

.sort-order-wrapper {
    flex-grow: 1;
    text-align: right;
}

.sorting ul {
    list-style: none;
}

a.hotel-link {
    outline: none;
    color: #000000;
}

a.hotel-link:hover,
a.hotel-link:focus {
    color: #81b3d2;
}

a.hotel-link:active {
    color: #000000;
    opacity: 0.3;
}

.sorting-wrapper {
    display: flex;
    align-items: baseline;
    width: 528px;
    margin-left: 72px;
}

.sorting-list {
    display: flex;
    margin: 0;
    margin-left: 38px;
    padding: 0;
}

.sorting-list li:nth-child(n+2) {
    margin-left: 30px;
}

.sorting .sorting-text {
    margin: 0;
    margin-left: 45px;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
}

a.sorting-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;

    opacity: 0.3;
    cursor: pointer;

    border-bottom: 1px dashed #81b3d2
}

a.sorting-link:hover,
a.sroting-link:focus {
    color: #81b3d2;
}

a.sorting-link:active {
    color: #000000;
    border: none;
}


ul.hotels-list {
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #fefefe;
}

.sorting-wrapper .number-of-hotels {
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotels-item-main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    min-height: 150px;
    margin: 0;
    margin-left: 72px;
}

.rating-wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    min-height: 90px;

}

.rating {
    margin-bottom: 45px;
    margin-top: 30px;
    text-align: right;
}

.hotels-item-wrapper {
    display: flex;
    width: 528px;
    min-height: 90px;
    margin: 30px 0;
}

.hotels-item-text-btns-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.hotels-item-btns-wrapper .button {
    width: 110px;
    min-height: 27px;
}

.hotels-item-wrapper h3,
.hotels-item-wrapper p {
    margin:0;
}

.hotels-item-text-btns-wrapper h3 {
    margin-bottom: 15px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotels-item-text-wrapper {
    display: flex;
    margin-bottom: 18px;
}

.hotels-item-text-wrapper .hotel-price {
    margin-left: 35px;
}

.hotels-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #333333;
}

.hotels-list li {
    width: 1200px;
    margin-top: -1px;
    min-height: 150px;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.button-info,
.button-booking {
    outline: none;
}

a.button-info {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;

    background-color: #81b3d2;
}

a.button-info:hover,
a.button-info:focus {
    background-color: #669ec0;
}

a.button-info:active {
    opacity: 0.3;
}

a.button-booking {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    background-color: #766357;
}

a.button-booking:hover,
a.button-booking:focus {
    background-color: #604e43;
}

a.button-booking:active {
    opacity: 0.3;
}

p.rating-number {
    width: 110px;
    min-height: 27px;
    margin: 0;
    margin-left: 130px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color:666666;

    background-color: #f2f2f2;
}

.hotels-search input,
.hotels-search button {
    background-color: red;
}
